/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

.lk-disconnect-button {
  display: none !important;
}

.lk-start-audio-button {
  display: none !important;
}

.lk-chat-toggle {
  display: none !important;
}

.lk-focus-toggle-button {
  display: none !important;
}
